tourism.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="profile" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="userid"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="gender"/>
              <xs:element type="xs:int" name="contact"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:string" name="interests"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>